* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-color: rgb(141, 127, 140);
}

